include partials/head.pug
include partials/header.pug
main(class="flex-grow flex items-center flex-col justify-center gap-12 w-full font-mono")
    h1(class="text-xl font-semibold") Add a video
    form(action="/movies" method="POST" class="flex flex-col w-max gap-2")
        div(class="flex justify-between gap-2 md:gap-4 items-center")
            label(for="title") Title:
            input(type="text" id="title" name="title" required class="border border-gray-400 rounded px-3 py-px focus:outline-none md:w-64 text-center")
        div(class="flex justify-between gap-2 md:gap-4 items-center")
            label(for="year") Year:
            input(type="text" id="year" name="year" required class="border border-gray-400 rounded px-3 py-px focus:outline-none md:w-64 text-center")
        div(class="flex justify-between gap-2 md:gap-4 items-center")
            label(for="director") Director:
            //- input(type="text" id="director" name="director" required class="border border-gray-400 rounded px-3 py-px focus:outline-none md:w-64 text-center")
            select(name="director" class="border border-gray-400 rounded px-3 py-1 focus:outline-none md:w-64 text-center")
                option(value="default") Who directed this film?
                each director in directors 
                    option(value=director.id)= director.name   
        div(class="flex justify-between gap-2 md:gap-4 items-center")
            label(for="plot") Plot:
            input(type="text" id="plot" name="plot" required class="border border-gray-400 rounded px-3 py-px focus:outline-none md:w-64 text-center")
        div(class="flex justify-between gap-2 md:gap-4 items-center")
            label(for="duration") Duration:
            input(type="text" id="duration" name="duration" required class="border border-gray-400 rounded px-3 py-px focus:outline-none md:w-64 text-center")
        p(class="text-sm text-gray-300 -my-1 hidden md:block text-right") In minutes

        div(class="flex justify-between gap-2 md:gap-4 items-center")
            label(for="trailer") Trailer:
            input(type="text" id="trailer" name="trailer" required class="border border-gray-400 rounded px-3 py-px focus:outline-none md:w-64 text-center") 
        div(class="flex justify-between gap-2 md:gap-4 items-center")
            label(for="photo") Photo:
            input(type="text" id="photo" name="photo" required class="border border-gray-400 rounded px-3 py-px focus:outline-none md:w-64 text-center")
        div(class="flex justify-between gap-2 md:gap-4 items-center")
            if genres.length
                p() Genres:
                each genre in genres
                    div(class="flex gap-2 items-center justify-center flex-wrap")
                        label(for=genre.id)= genre.name 
                        input(type="checkbox" id=genre.id name="genres" value=genre.id) 
            else 
                p() Genres:
                p We have no genres, you have to add one first.
        //- p(class="text-sm text-gray-300 -mt-2 hidden md:block text-right") Must be in CSV format, e.g. 'Drama,Action,Fantasy'
        h4(class="mt-4 w-full") Is available on:
        div(class="flex flex-wrap flex-col md:flex-row")
            div(class="flex gap-2 md:w-1/3 items-center justify-between md:justify-center")
                label(for="netflix") Netflix
                input(type="checkbox" id="netflix" name="netflix")
            div(class="flex gap-2 md:w-1/3 items-center justify-between md:justify-center")
                label(for="amazonPrime") Amazon Prime
                input(type="checkbox" id="amazonPrime" name="amazonPrime")
            div(class="flex gap-2 md:w-1/3 items-center justify-between md:justify-center")
                label(for="hulu") Hulu
                input(type="checkbox" id="hulu" name="hulu")
            div(class="flex gap-2 md:w-1/3 items-center justify-between md:justify-center")
                label(for="hboMax") HBO Max
                input(type="checkbox" id="hboMax" name="hboMax")
            div(class="flex gap-2 md:w-1/3 items-center justify-between md:justify-center")
                label(for="disneyPlus") Disney+
                input(type="checkbox" id="disneyPlus" name="disneyPlus")
            div(class="flex gap-2 md:w-1/3 items-center justify-between md:justify-center")
                label(for="starPlus") Star+
                input(type="checkbox" id="starPlus" name="starPlus")
        input(type="submit" value="Add" class="py-2 mt-2 bg-green-500 text-white rounded cursor-pointer")
        if (successMessage)
            p(class="text-green-500 text-sm")= successMessage
        if (errorMessage)
            p(class="text-red-500 text-sm")= errorMessage 
include partials/footer.pug